.about {
  font-family: "Roboto", sans-serif;
}

.about .title {
  position: relative;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 60px;
  padding-bottom: 20px;
  color: var(--ubuntu-gray);
  font-family: "Ubuntu", sans-serif;
}

.about .title span {
  color: var(--ubuntu-orange);
}

.about .title::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 180px;
  height: 5px;
  background: var(--ubuntu-orange);
  transform: translateX(-50%);
}

/** The Position of the content */
.about .about-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.about .about-content .left {
  width: 45%;
}

.about .about-content .right {
  width: 55%;
}
/** Position ends here*/

.about .about-content .left img {
  height: 400px;
  width: 400px;
  object-fit: cover;
  border-radius: 20px;
}

.about .about-content .right .text {
  font-size: 27px;
  font-weight: 700;
  margin-bottom: 21px;
  color: var(--ubuntu-gray);
}

.about .about-content .right span {
  color: var(--ubuntu-orange);
}

.about .about-content .right p {
  text-align: justify;
  color: var(--ubuntu-gray);
}

.about .about-content .right a {
  display: inline-block;
  background: var(--ubuntu-purple);
  opacity: 0.9;
  color: var(--white);
  font-size: 20px;
  padding: 2px 20px;
  margin-top: 20px;
  border-radius: 6px;
  border: 2px solid var(--ubuntu-purple);
  transition: all 0.6s ease;
}

.about .about-content .right a:hover {
  background: transparent;
  color: var(--ubuntu-purple);
}

/** Media Queries related to the About section */

@media (max-width: 1100px) {
  .about .about-content .left img {
    height: 350px;
    width: 350px;
  }
}

@media (max-width: 949px) {
  .about .about-content .column {
    width: 100%;
  }

  .about .about-content .left {
    display: flex;
    justify-content: center;
    margin: 0 auto 60px;
  }

  .about .about-content .right {
    flex: 100%;
  }
}
