.navbar {
  position: fixed;
  width: 100%;
  padding: 30px 0;
  font-family: "Ubuntu", sans-serif;
  transition: all 0.5s ease;
}

.navbar.sticky {
  padding: 15px;
  background: var(--ubuntu-orange);
}

.navbar .max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo a {
  color: var(--white);
  font-size: 35px;
  font-weight: 600;
}

.navbar .logo a span {
  color: var(--ubuntu-orange);
  transition: all 0.5s ease;
}

.navbar.sticky .logo a span {
  color: var(--ubuntu-gray);
}

.navbar.sticky .menu li a:hover {
  color: var(--ubuntu-gray);
}

.navbar .menu li {
  list-style: none;
  display: inline-block;
}

.navbar .menu li a {
  color: var(--white);
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  transition: color 0.3s ease;
}

.navbar .menu li a:hover {
  color: var(--ubuntu-orange);
}
