.scroll-up-button {
  position: fixed;
  height: 45px;
  width: 42px;
  background: var(--ubuntu-orange);
  right: 30px;
  bottom: 10px;
  text-align: center;
  line-height: 45px;
  color: var(--white);
  z-index: 100;
  font-size: 30px;
  border-radius: 6px;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}

.scroll-up-button.show {
  bottom: 30px;
  opacity: 1;
  pointer-events: auto;
}
