.skills {
  font-family: "Roboto", sans-serif;
  color: var(--ubuntu-gray);
}

.skills .title {
  position: relative;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 60px;
  padding-bottom: 20px;
  font-family: "Ubuntu", sans-serif;
}

.skills .title span {
  color: var(--ubuntu-orange);
}

.skills .title::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 245px;
  height: 5px;
  background: var(--ubuntu-orange);
  transform: translateX(-50%);
}

.skills .skills-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.skills .skills-content .column {
  width: calc(50% - 30px);
}

.skills .skills-content .left .text {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 10px;
}

.skills .skills-content .left p {
  text-align: justify;
  font-size: 18px;
}

.skills .skills-content .right .info {
  display: flex;
  margin-bottom: 5px;
  align-items: center;
  justify-content: space-between;
}
.skills .skills-content .right .info .tech {
  text-transform: capitalize;
}

.skills .skills-content .right span {
  font-weight: 500;
  font-size: 18px;
}

.skills .skills-content .right .line {
  height: 7px;
  width: 100%;
  background: lightgray;
  position: relative;
}

.skills .skills-content .right .line::before {
  content: "";
  position: absolute;
  height: 80%;
  left: 0;
  top: 0;
  background: var(--ubuntu-purple);
}

.skills .skills-content .right .frontend::before {
  width: 85%;
}
.skills .skills-content .right .react::before {
  width: 80%;
}
.skills .skills-content .right .graphql::before {
  width: 60%;
}
.skills .skills-content .right .mongodb::before {
  width: 75%;
}
.skills .skills-content .right .python::before {
  width: 40%;
}
.skills .skills-content .right .redux::before {
  width: 40%;
}

/** Responsive Media Queries for Skills section */
@media (max-width: 949px) {
  .skills .skills-content .column {
    width: 100%;
    margin-bottom: 25px;
  }
}
