.team {
  font-family: "Roboto", sans-serif;
  background: var(--ubuntu-gray);
}

.team .title {
  position: relative;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 60px;
  padding-bottom: 20px;
  color: var(--white);
  font-family: "Ubuntu", sans-serif;
}

.team .title span {
  color: var(--ubuntu-orange);
}

.team .title::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 180px;
  height: 5px;
  background: var(--ubuntu-orange);
  transform: translateX(-50%);
}

.team .carousel .card {
  background: var(--ubuntu-light-gray);
  border-radius: 6px;
  padding: 25px 35px;
}

.team .carousel .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.team .carousel .text {
  color: var(--white);
  font-size: 23px;
  font-weight: 500px;
  margin: 10px 0 7px 0;
}

.team .carousel .card img {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid var(--ubuntu-orange);
}
