.card {
  border-radius: 6px;
  padding: 25px 35px;
  background-color: var(--ubuntu-light-gray);
}

.card .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.box .text {
  color: var(--white);
  font-size: 20px;
  font-weight: 500px;
  margin: 10px 0 7px 0;
}

.box .description {
  color: var(--white);
  font-size: 17px;
  font-weight: 500px;
  margin: 10px 0 7px 0;
}

.card img {
  height: 120px;
  width: 120px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid var(--ubuntu-orange);
}
