@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Ubuntu:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

:root {
  --ubuntu-orange: #dd4814;
  --ubuntu-purple: #77216f;
  --ubuntu-dark-purple: #2c001e;
  --ubuntu-opac-purple: #5e2750;
  --ubuntu-gray: #333333;
  --light-gray: rgba(240, 248, 255, 0.123);
  --white: #ffffff;
  --black: #000000;
}

.max-width {
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}

section {
  padding: 100px 0;
}

/** Responsive Media Queries */
@media (max-width: 949px) {
  .max-width {
    padding: 0 50px;
  }
}
